* {
  box-sizing: border-box;
}

body {
  background: yellow;
  font-family: Courier, arial, sans-serif;
  margin: 0;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

nav {
  display: none;
}

.show {
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: red;
  padding-left: 1rem;
  padding-right: 1rem;
}

button {
  background: none;
  border: none;
}

#first-content {
  background-image: url("img/intro.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#first-content h1{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}


.button {
  background-color: #fff;
  color: #374a67;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 5px;
  border: 1px #374a67 solid;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 1);
  transition: all 0.4 ease;
  margin-top: 1rem;
  display: inline-block;
}

.button:hover {
  color: #fff;
  background-color: #374a67;
  border-color: #fff;
}

.card a{
  text-decoration: none;
  color: #000;
}
.card p a{
  color: #b2b2b2
  padding: 1rem;
}

.card{
  text-align: center;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 1);
  border-radius: 5px;

  overflow: hidden;
  margin: 1rem;
}

.card img{
  width: 100%;
}

h2{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button.button-recipe{
  color: #fff;
  background-color: #374a67;
  border-color: #fff;
  margin: 1rem;
  display: block;

}

.button.button-recipe:hover{
  color: #374a67;
  background-color: #fff;
  border-color: #374a67;
}



@media (min-width: 1024px) {
  nav {
    display: block;
  }

  button {
    display: none;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-right: 16px;
  }

  header {
    padding-left: 3%;
    padding-right: 3%;
  }
  .row{
    display: flex;
  }

}
