*{
  box-sizing: border-box;
}

body {
        background: yellow;
        font-family: Courier,arial, sans-serif;
        margin: 0;
}


nav a{
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
    list-style-type: none;
}


nav{
    display: none;
}

header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      background-color: red;

}

@media (min-width: 1024px) {
    nav{
        display: block;
    }
    button{
      display: none;
    }
nav ul{
  display: flex;
}

nav li{
      margin-right: 16px;

}


}
